@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(17, 17, 17);
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  position: relative;
  width: 80%;
  height: 90%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 10px 25px -8px black;
}
header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("/img/money\ heist1.jpg") no-repeat center center/cover;
  opacity: 0.6;
  z-index: -1;
}
header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, transparent, #000);
  opacity: 0.6;
  z-index: -1;
}
header video {
  position: absolute;
  width: 120%;
  height: 190%;
  top: -50%;
  z-index: -1;
  object-fit: cover;
  object-position: top;
}
header nav {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

header nav .logo_ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .logo_ul img {
  width: 90px;
}
header nav .logo_ul ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

header nav .logo_ul li a {
  padding: 3px 15px;
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-weight: 500;
  transition: 0.3s linear;
}

header nav .logo_ul li a:hover {
  color: rgb(255, 255, 255, 0.7);
}
header nav .search-user {
  position: relative;
  margin-right: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .search-user input {
  padding: 3px 10px;
  outline: none;
  border: none;
  border-radius: 20px;
  background-color: rgb(255, 255, 255, 0.3);
  color: #ffff;
  margin-right: 10px;
}
header nav .search-user input::placeholder {
  color: #ffff;
}
header nav .search-user img {
  width: 23px;
  height: 23px;
  border-radius: 50%;
}
header nav .search-user .search {
  position: absolute;
  width: 320px;
  height: 290px;
  right: 0;
  top: 45px;
  z-index: 999;
  overflow-y: auto;
  /* display: none; */
}
header nav .search-user .search::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 5px;
  visibility: hidden;
}
header nav .search-user .search::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 5px;
  visibility: hidden;
}
header nav .search-user .search::-webkit-scrollbar-thumb:hover {
  visibility: visible;
}
header nav .search-user .search::-webkit-scrollbar:hover {
  visibility: visible;
}
header nav .search-user .search .card {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 3px 0;
  text-decoration: none;
  display: none;
}
header nav .search-user .search .card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  z-index: -1;
}
header nav .search-user .search .card img {
  width: 28px;
  height: 90%;
  border-radius: 2px;
  object-fit: cover;
  margin-left: 8px;
}
header nav .search-user .search .card .cont {
  margin-left: 10px;
  color: white;
}
header nav .search-user .search .card .cont h3 {
  font-size: 15px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 250px;
}

header nav .search-user .search .card .cont p {
  font-size: 10px;
  color: rgb(255, 255, 255, 0.8);
}
header nav .search-user .search .card .cont p span {
  background-color: yellow;
  color: black;
  padding: 0 3px;
  margin: 0 5px 0 10px;
  font-weight: 600;
}

header .content {
  color: rgb(255, 255, 255);
  position: relative;
  margin-top: 20px;
  padding-left: 50px;
}
header .content h1 {
  font-size: 50px;
}
header .content p {
  font-size: 11px;
  width: 350px;
  word-break: break-all;
}
header .content .details {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
header .content .details h6 {
  color: rgb(255, 255, 255, 0.8);
  font-size: 10px;
  margin-right: 10px;
}
header .content .details h5 {
  color: rgb(142, 230, 48, 0.8);
  font-size: 10px;
  margin-right: 10px;
}
header .content .details h4 {
  color: rgb(255, 255, 255, 0.8);
  font-size: 10px;
  margin-right: 10px;
}
header .content .details h3 {
  color: rgb(255, 255, 255);
  font-size: 10px;
  display: flex;
  align-items: center;
}
header .content .details h3 span {
  background-color: yellow;
  color: black;
  padding: 0 3px;
  margin: 0 5px 0 5px;
  font-weight: 600;
}
header .content .details h3 i {
  margin-right: 5px;
}

header .content .details div {
  margin-top: 5px;
}
header .content .btns {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
header .content .btns a {
  height: 20px;
  padding: 8px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
   
  background: linear-gradient(90deg, #00bdff, #0079ff);
  border-radius: 5px;
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
  animation: button 1s linear infinite;
}

@keyframes button {
  0%{ 
  background: linear-gradient(0deg, #00bdff, #0079ff);

  }
  12%{ 
  background: linear-gradient(45deg, #00bdff, #0079ff);

  }
  24%{ 
  background: linear-gradient(90deg, #00bdff, #0079ff);

  }
  36%{ 
  background: linear-gradient(145deg, #00bdff, #0079ff);

  }
  48%{ 
  background: linear-gradient(190deg, #00bdff, #0079ff);

  }
  60%{ 
  background: linear-gradient(240deg, #00bdff, #0079ff);

  }
  76%{ 
  background: linear-gradient(295deg, #00bdff, #0079ff);

  }
  100%{ 
  background: linear-gradient(360deg, #00bdff, #0079ff);

  }
}

header section {
  position: absolute;
  height: auto;
  width: 100%;
  padding: 0 50px;
  bottom: 20px;
  color: #fff;
}
header section .cards{
  position: relative;
  width: 100%;
  height: 200px;
  border: 1px solid white;
  display: flex;
  align-items: center;
}